.box {
    margin-top: 20px;
    background-color: #ffffffda;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(10 10 10 / 10%), 0 0 0 0px rgb(10 10 10 / 10%);
    padding: 1.5rem;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}

.space-between {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
}

.content {
    min-height: "calc(100vh - 123px)";
    margin-top: "70px";
}